.container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;

  &__item {
    display: flex;
    align-items: center;
  }
}

.back-button {
  color: white;
  margin-right: 20px;
}

.mat-icon {
  color: white;
}

input {
  padding: 5px 20px;
}
