.container {
  min-height: 100vh;
  width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

.wrapper {
  padding: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.genre {
  position: relative;
  background-color: rgb(187, 82, 82);
  border-radius: 20px;
  flex-grow: 1;
  width: 30%;
  height: 250px;
  margin: 10px;
  &:nth-child(2) {
    background-color: rgb(140, 233, 233);
  }
  &:nth-child(3) {
    background-color: rgb(212, 195, 97);
  }
  &:nth-child(4) {
    background-color: rgb(114, 196, 168);
  }
  &:nth-child(5) {
    background-color: rgb(196, 114, 169);
  }
  &:nth-child(6) {
    background-color: rgb(100, 127, 199);
  }
  &__link {
    text-decoration: none;
    width: 100%;
    height: 100%;
    color: white;
    letter-spacing: 0.3rem;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__icon_bottom {
    right: 30px;
    bottom: 20px;
    transform: rotate(30deg);
  }
  &__icon_top {
    left: 30px;
    top: 20px;
    transform: rotate(30deg);
  }
}

.mat-icon {
  position: absolute;
  right: 30px;
  bottom: 20px;
  transform: rotate(30deg);
  width: 50px;
  height: 50px;
  font-size: 3rem;
}
